.cloud-svg {
  object-fit: cover;
  width: 100%;
  position: absolute;
  bottom: -4px;
  z-index: 0;
  overflow-y: hidden;
} 

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-content {
  flex: 1;
  padding-right: 20px;
}

.section-title {
  font-weight: bold;
  font-size: 3rem;
  color: black;
}

.question {
  position: relative;
  z-index: 2;
  margin-top:4rem;
  font-size: 1.25rem;
}
.technology {
  position: relative;
  margin-top: 18.5rem;
}

.tech-card {
  position: relative;
  transition: all .4s ease-in-out;
}

.tech-card:hover .back{
  z-index: 950;
  transform: rotateY(0) rotateX(0);
}

.tech-card:hover .front {
  z-index: 900;
  transform: rotateX(180deg);
}

.front {
  position: relative;
  z-index: 900;
  text-align: center;
  transform: rotateY(0) rotateY(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .4s ease-in-out;
  background-color: white;
  border-radius: 5px;
  border-width: 2px;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  transform: rotateX(180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all .4s ease-in-out;
  width: 100%;
  height: 100%;
  background: white; 
  border-radius: 5px;
  border-width: 2px;
}

.about-hero-container {
	background: linear-gradient(215deg, #90CAF9 1%, #2C74FF 44%);
}