.apexcharts-svg {
  overflow: visible !important;
}

.apexcharts-tooltip {
  color: black !important;
  overflow: visible;
}

.apexcharts-legend {
  width: 100%;
  justify-content: center !important;
  padding: 0 !important;
  left: -10px !important;
  overflow: visible !important;
}