.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  height: fit-content;
  width: 100vw;
  background-color: white;
  border-bottom: 2px solid #e2e8f0;
}

.logo {
  display: flex;
  position: relative;
  width: 100%;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  padding: 0 0 0 1rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.nav-list {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem 0 0;
  gap: 6px;
}

/* .menu-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.menu-item-container:hover {
  background-color: #083999;
  border-radius: 0.5rem;
} */

.menu-item-container a {
  text-decoration: none;
}

.menu-item {
  display: flex;
  cursor: pointer;
  color: rgb(77, 91, 124);
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 1.5rem;
  
}

.menu-item:hover {
  background-color: #2C74FF;
  color: white;
  font-weight: bold;
  border-radius: 1.5rem;
}

@media (min-width: 1250px) {
  .nav-list {
    padding: 0 2rem 0 0;
  }
}
